header {
    width: 100%;
    padding: 1.5rem;
    @include flexbox(center, space-between, column, 2rem);
    @media(min-width: $size) {
        flex-direction: row;
    }
    .header__main {
        width: 100%;
        @include flexbox(center, space-between, row, 2rem);
        .header__nav-toggle-close { display: none; }
        .header__nav-toggle-open { cursor: pointer; }
        .logo { font-size: clamp(1.5rem, 2.25vw, 3.75rem); font-weight: 700; }
        @media(min-width: $size) {
            .header__nav-toggle-close, .header__nav-toggle-open { display: none; }
        }
    }
    nav.active {
        display: flex;
    }
    nav {
        display: none;
        width: 100%;
        height: 40vh;
        background: rgba(0, 0, 0, .85);
        position: absolute;
        top: 0;
        animation: fade .5s ease;
        @media(min-width: $size) {
            display: flex;
            background: transparent;
            position: relative;
            height: auto;
            width: auto;
        }
        svg {
            cursor: pointer;
            position: absolute;
            right: 1.5rem;
            top: 1.5rem;
        }
        ul {
            width: 100%;
            @include flexbox(center, center, column, 5rem);
            @media(min-width: $size) {
                .header__nav-toggle-close { display: none; }
                flex-direction: row;
                gap: 2rem;
            }
            li { 
                animation: fade 1s; 
                @media(min-width: $size) {
                    animation: none;
                }
            }
        }
    }
}
@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}