@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import "./components/variables";
@import "./components/mixins";
@import "./components/layout/header";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@include reset;

body {
    background: rgb(29,31,33);
    background: linear-gradient(90deg, rgba(29,31,33,1) 0%, rgba(56,58,61,1) 100%);
    min-height: 100vh;
    width: 100%;
    font-family: $font;
    h1 { font-size: clamp(2.75rem, 4vw, 8rem); font-weight: 700; }
    h2 { font-size: clamp(2.25rem, 3vw, 6rem); font-weight: 700; }
    h3 { font-size: clamp(1.5rem, 2.25vw, 3.75rem); font-weight: 400; }
    h4 { font-size: clamp(2.25rem, 3.75vw, 6rem); font-weight: 700; }
    p, label {
        font-size: clamp(1.15rem, 1.5vw, 2rem);
        font-weight: 400;
        line-height: 1.5;
    }
    a {
        color: $white;
        &:hover, &:focus {
            color: $green;
            transition: color .5s ease;
        }
    }
    section { padding: 5rem 1.5rem; }
    section, main { width: 100%; }
    svg {
        fill: $white;
        &:hover, &:active { transition: fill .5s ease; fill: $green; }
    }
    img { width: 100%; height: auto; }
}